.header_box {
    width: 100%;
    height: 8vh;
    background-color: $color_two;
    padding: 1.4rem 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .logo_box {
        padding-left: 4rem;

        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: bold;

        a {
            text-decoration: none;
            color: $color_one;
        }
    }

    .search_box {
        width: 30%;
    }

    .navigation_box {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;

        padding-right: 4rem;

        .navigation {
            display: flex;
            flex-direction: row;
            list-style: none;
            gap: 1.5rem;

            font-weight: $medium;
            font-size: $text;
            letter-spacing: 1px;

            a {
                text-decoration: none;
                color: $color_tree;
            }
        }

        .navigation__user {
            position: relative;

            .user-options {
                position: absolute;
                top: 3rem;
                right: -2.5rem;
                background-color: $color_two;
                padding: 1.5rem;
                border-radius: $radius;
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);

                .user-options__list {
                    list-style: none;
                    margin: 0;

                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    li {
                        a {
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                            color: $color_tree;
                        }
                    }
                }
            }

            .user-options--hide {
                display: none;
            }

            .user-options--show {
                display: block;
            }
        }
    }

    .profile__box {
        height: 2.5rem;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        overflow: hidden;

        .profile__img {
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.header__logo {
    width: 10rem;
}