@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap);
* {
  font-family: "Roboto", "sans-serif";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
}

.page_title_box {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

.card {
  background-color: white;
  padding: 0.4rem;
  border-radius: 6px;
}
.card a {
  text-decoration: none;
}

.card--post {
  width: 14.9rem;
  height: -moz-fit-content;
  height: fit-content;
}
.card--post .card__container {
  width: 100%;
  overflow: hidden;
  margin-bottom: 0.25rem;
}
.card--post .card__container .card__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
.card--post .card__info .card__title {
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.5px;
  color: #4D4D4D;
}

.card--country {
  width: 22rem;
  aspect-ratio: 3/2;
  position: relative;
}
.card--country .card__container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
}
.card--country .card__container .card__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card--country .card__info {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: white solid 0.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card--country .card__info .card__overlay {
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card--country .card__info .card__title {
  font-size: 2rem;
  font-weight: 900;
  color: white;
  letter-spacing: 1px;
}

.btn {
  height: 2.5rem;
  background-color: #23A5D9;
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  color: white;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--reversed {
  border: solid #23A5D9 2px;
  background-color: white;
  color: #23A5D9;
}

.btn--large {
  width: 100%;
}

.input {
  border: solid 1px #D8D8D8;
  border-radius: 0.4rem;
  padding: 0rem 0.8rem;
  height: 2.5rem;
  font-size: 0.9rem;
}

.input--large {
  width: 100%;
}

.input--medium {
  width: 49%;
}

.input--search {
  width: 30rem;
}

.input__row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input__label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

::-moz-placeholder {
  color: #D8D8D8;
}

::placeholder {
  color: #D8D8D8;
}

input[type=date] {
  width: 100%;
  height: 2.5rem;
  border: 1px solid #D8D8D8;
  border-radius: 0.4rem;
  padding: 0rem 0.8rem;
  color: #D8D8D8;
  font-size: 18px;
  display: inline-block !important;
  visibility: visible !important;
}

.login-register {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.form-box {
  height: 52rem;
  width: 39.25rem;
  background-color: white;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.form-box .form-box__title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}
.form-box .form-box__title-box .form-box__title {
  color: #23A5D9;
  font-size: 1.8rem;
}
.form-box .form-box__title-box .form-box__description {
  font-size: 1rem;
  color: #4D4D4D;
}
.form-box .form-box__container {
  padding-bottom: 3.125rem;
  border-bottom: solid 1px #D8D8D8;
  width: 70%;
}
.form-box .form-box__container .form-box__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}
.form-box .form-box__container .form-box__form .form-box__errors {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form-box .form-box__container .form-box__form .form-box__errors .form-box__error {
  color: #FF1F1F;
  font-size: 1rem;
  align-self: flex-start;
  background-color: rgba(255, 116, 116, 0.299);
  width: 100%;
  padding: 0.5rem 0.8rem;
}
.form-box .form-box__container .form-box__form .form-box__remember {
  font-size: 1rem;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
}
.form-box .form-box__register {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.logo-box {
  height: 52rem;
  width: 54rem;
  background-color: white;
  border-radius: 6px;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.logo-box .logo-box__logo {
  position: absolute;
  color: white;
  scale: 0.6;
}
.logo-box .logo-box__img-box {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
}
.logo-box .logo-box__img-box .logo-box__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header_box {
  width: 100%;
  background-color: white;
  padding: 1.4rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header_box .logo_box {
  padding-left: 4rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
.header_box .logo_box a {
  text-decoration: none;
  color: #23A5D9;
}
.header_box .navigation_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding-right: 4rem;
}
.header_box .navigation_box .navigation {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
}
.header_box .navigation_box .navigation a {
  text-decoration: none;
  color: #4D4D4D;
}
.header_box .profile_box {
  height: 2.5rem;
  aspect-ratio: 1/1;
  background-color: #23A5D9;
  border-radius: 50%;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.9rem;
  list-style: none;
  align-items: center;
}

.content {
  margin: 2rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: red solid;
}

.section {
  display: flex;
  justify-content: center;
}
