.btn {
    height: $height_inp_btn;
    width: fit-content;
    background-color: $color_one;
    border: none;
    border-radius: $radius;
    padding: 0.5rem 1.4rem;

    font-size: $text;
    color: $color_two;
    text-align: center;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }

    @media screen and (max-width: 480px) {
        padding: 0.2rem 0.5rem;
    }

    @media screen and (min-width:480px) and  (max-width: 758px) {
        padding: 0.4rem 1rem;
    }
}

.btn--reversed {
    border: solid $color_one 2px; 
    background-color: $color_two;
    color: $color_one;
}

.btn--large {
    width: 100%;
}

.btn--save {
    padding: 0rem 1.4rem;
}

.btn--unsave {
    padding: 0rem 1.4rem;
    background-color: #F01312;
}

.btn--comment {
    width: 4rem;
    height: 2.5rem;
}

.btn--filter {
    font-size: 0.8rem;
    padding: 0.5rem;
    height: fit-content;
    border-radius: $radius-smaller;
}

.btn--select {
    color: $color-two;
    font-size: 1rem;

    border: none;

    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;

    border-radius: $radius-smaller;
}

.btn--red {
    background-color: $color_error;
}

