.btn {
    height: $height_inp_btn;
    background-color: $color_one;
    border: none;
    border-radius: .4rem;

    font-size: $text;
    color: $color_two;
    text-align: center;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}

.btn--reversed {
    border: solid $color_one 2px;
    background-color: $color_two;
    color: $color_one;
}

.btn--large {
    width: 100%;
}

.btn--save {
    padding: 0rem 1.4rem;
}
