.logo-box {
    height: 52rem;
    width: 54rem;
    background-color: $color_two;
    border-radius: 6px;
    padding: 0.6rem;


    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    position: relative;

    .logo-box__logo {
        position: absolute;
        color: $color_two;
    }

    .logo-box__img-box {
        height: 100%;
        width: 100%;
        overflow: hidden;
        border-radius: 4px;

        .logo-box__img {
            width: 100%;
            object-fit: cover;
        }
    }

    }