.travel {
    margin: 2rem 5rem;
}

.travel__card {
    height: 15.6rem;
    width: 24.6rem;
    padding: 0.6rem;
    border-radius: .5rem;
    background-color: $color_two;

    display: flex;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        color: $color_two;
    }

    .travel__image-box {
        height: 15.6rem;
        width: 24.6rem;
        background-color: red;
    }

}