.user {
    width: 100%;
    background-color: $color_two;
    border-radius: 6px;
    padding: 1.4rem 4rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem 0rem;
    }

    @media screen and (min-width: 769px) and  (max-width: 1040px) {

    }

    .user__info {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;


    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

        .user__img-box {
            width: 4rem;
            aspect-ratio: 1/1;
            border-radius: 50%; 
            overflow: hidden;

            .user__img {
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .user__name {
            font-size: 1.4rem;
            font-weight: $medium;
        }
    }

    .user__activities {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        .user__activity {
            border: none;
            background: transparent;

            font-size: 1rem;
            font-weight: $medium;
            color: $color_tree;
            text-decoration: none;

            padding-right: 1rem;
            border-right: solid $color_base 2px;

            &:last-child {
                padding-right: 0;
                border-right: none;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .user__activity--icon {
            font-size: 1.2rem;
        }

        .user__activity--link {
            text-decoration: none;
            color: $color_tree;
        }
    }
}

.user--small {
    text-decoration: none;
    color: $color_tree;

    background-color: $color_two;
    aspect-ratio: 1/1;
    width: 8rem;
    padding: 1rem;
    border-radius: $radius;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .user__username {
        font-weight: $bold;
    }
}