//colors
$color_one: #23A5D9;
$color_two: #FFFF;
$color_tree: #4D4D4D;
$color_tree_lighter: #D8D8D8;
$color_base: #F2F2F2;
$color_error: #FF1F1F;
$color_edit: #FFE300;

//input
$height_inp_btn: 2.25rem;

//font-styles
$font_main: 'Roboto', 'sans-serif';
$bold: 900;
$medium: 500;
$regular: 400;
$text: 1rem;

$radius: 0.38rem;
$radius-smaller: 0.18rem;






