//colors
$color_one: #23A5D9;
$color_two: #FFFF;
$color_tree: #4D4D4D;
$color_tree_lighter: #D8D8D8;
$color_base: #F2F2F2;
$color_error: #FF1F1F;

$height_inp_btn: 2.5rem;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text: 0.9rem


